@import url('https://fonts.cdnfonts.com/css/futura-pt');

p,span{
    font-family: 'Futura PT', sans-serif;
}
*{
    transition-property: height,font-size,box-shadow,flex;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
}